img {
    width: 100%;
    height: auto;
    margin-top: 10px;

  }
  .home-page-author-embedded-video{
      width: 100%;
      height:315px;
  }


.slider{
    margin-top:20px;
    padding-top: 0;
         
} .home_slide{
    padding-top: 0%;
    display: none;
    height: auto;
    position: relative;
    bottom: 50px;
}
.home-data{
    width: 100%;
    height: auto;
    position: relative;
    top: 40px;
}
.main-content{
    width: 100%;
    height: auto;
}
.home_page_author_on_quality_drugs{
    /* background-color: blue; */
    width: 100vw;
    margin: 10px;
}
.authors{
    float: left;
    width: 90%;
    margin-left: 2%;
    margin: right 5%;
    text-align: justify;
    padding: 40px;
}
.author-header{
    display: block; 
    text-align: center; 
}
.all-author-deal{
    /* background-color: yellow; */
    width: 50%;
    text-align: center;
    line-height: normal;
    float: left;
    
 }
 .home_page_author_on_quality_drugs{
     width: 100%;
     height: auto;
     margin: 30px;
     display: flex;
     align-items: center;
 }
.author-media{
    width: 45%;
    height: auto;
        /* position: relative;
        left: 45%;
        bottom: 70%; */
        
    }
    .authors{
        text-align: justify;
}
.brief_info_data{
    width: 100%;
    height: auto;
    background-color: rgb(228, 221, 213);
}
.container{
    display: flex;
    width: 95%;
    height: 350px;
    align-items: center;

}

#briefs{
   margin: 30px 30px; 
   height: 150px;
   word-wrap: break-word;
}  
.brief_mission_header, .brief_vision_header, .brief_about_header{
    text-align: center;
}
.brief_info_data_link{
    background-color: red;
    width:100%;
    height: 50px;
    /* margin-top: 30px; */
    line-height: 1em;
    box-sizing: border-box;
    padding:1px;
    border:1px ;
    border-radius: 25px;
    color:aliceblue;

}


.home_page_activities{
    width: 100%;
    height: 350px;
    margin-top: 30px;
    background-color: rgb(228, 221, 213);
    

}
.total_activities{
    width: 50%;
    height: auto;
    margin: auto;
    padding: 50px;
    float:left;
    
}
.activities{
    list-style-type: none;
    margin: 5px;
    text-align: justify;
}
.activities-paragh{
    text-align: justify;
}
.activity-header{
    text-align: center;
}
.activity_pix{
    width: 48%;
    height: 90%;
}
.Standards{
        /* background-color: greenyellow; */
        width: 100%;
        height: 350px;
        margin-top: 30px;
        background-color: rgb(228, 221, 213);
        }
.standard_container{
        width: 50%;
        height: auto;
        margin: auto;
        padding: 50px;
        float:left;
        /* background-color: blueviolet; */
        align-items: center;
}
.standards-settings{
        text-align: center;
}
.standard-paragh{
        text-align: justify;
        word-wrap: break-word;
}
.standard_pix{
    width: 48%;
    height: 90%;

}
.membership{
        width: 100%;
        height: 250px;
        margin-top: 15px;
        background-color: rgb(255, 0, 0)
}
    .contact_from_home{
        width: 100%;
        height: auto;
        /* text-align: center; */                
    }
    .member_ask_container{
        margin-top: 40px;
        color: aqua;
        text-align: center;
        line-height: 1;
     }
   
    
    

    @media only screen and (max-width:1120px){
        .main-content{
            width: 100%;
            height: auto;
        }
     .all-author-deal{
         font-size:medium;
         width: 50%;
         margin: 20px 20px;
     }   
     .author-media{
        width: 40%;
        height: auto;            
        }
    .brief_info_data{
        width: 100%;
        height: auto;
    }
    .brief_info_data_link{
        background-color: red;
        width:100%;
        height: 60px;
        margin-top: 20px;
        /* margin-top: 30px; */
        line-height: 1em;
        box-sizing: border-box;
    }
    .member_ask{
        font-size: larger;
        margin: 20px;
    }
    .membership_link{
        margin: 20px;
    }

    }
    